{
  "swagger": "2.0",
  "info": {
    "version": "v2.0",
    "title": "Doodle",
    "description": ""
  },
  "host": "api.doodle.com",
  "basePath": "/v2.0",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Access-Token": {
      "name": "Access-Token",
      "type": "apiKey",
      "in": "header"
    }
  },
  "paths": {
    "/users/oauth/token": {
      "post": {
        "operationId": "POST_users-oauth-token",
        "summary": "Login",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/user",
              "example": {
                "password": "aliquip",
                "email": "79FvC3Q4sABsOH@OaTowKRCfdafZexCZMIyUnaNTrq.bd"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          }
        }
      }
    },
    "/users/oauth/google": {
      "get": {
        "operationId": "GET_users-oauth-google",
        "summary": "Login with google",
        "tags": [
          "Users"
        ],
        "description": "Login or sign up with Google by sending an HTTP POST to /api/v2.0/users/oauth/google \nThe API consumer is responsible of getting a valid access token from Google.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "google_access_token": {
                  "type": "string"
                }
              },
              "required": [
                "google_access_token"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          },
          "403": {
            "$ref": "#/responses/trait:forbidden:403"
          }
        }
      }
    },
    "/users/oauth/facebook": {
      "get": {
        "operationId": "GET_users-oauth-facebook",
        "summary": "Login with facebook",
        "tags": [
          "Users"
        ],
        "description": "Login or sign up with Facebook by sending an HTTP POST to /api/v2.0/users/oauth/facebook. The API consumer is responsible of getting a valid access token from Facebook.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "facebook_access_token": {
                  "type": "string"
                }
              },
              "required": [
                "facebook_access_token"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          },
          "403": {
            "$ref": "#/responses/trait:forbidden:403"
          }
        }
      }
    },
    "/users/me/logout": {
      "post": {
        "operationId": "POST_users-me-logout",
        "summary": "Logout",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/user",
              "example": {
                "push": {
                  "deviceType": "TESTCLIENT",
                  "deviceToken": "cillum ea aute sit"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users": {
      "post": {
        "operationId": "POST_users",
        "summary": "Create account/user",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/user",
              "example": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "reprehenderit exercitation commodo",
                "email": "dLf7@vTqga",
                "id": "dolore laborum enim",
                "accessToken": "gvwWEYPEng",
                "newsletterOptedIn": true,
                "avatarLargeUrl": "https://rlit6",
                "avatarSmallUrl": "http://qf",
                "premiumEndDate": -19765003,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 2002863,
                  "id": "fugiat",
                  "expiration": 91002493,
                  "isBusiness": false
                },
                "timeZone": "Ut magna",
                "countryCode": "do",
                "language": "au",
                "locale": "qu",
                "notificationChannels": [
                  "PUSH"
                ],
                "newEmail": "zDqUfvDtt6",
                "password": "labore",
                "newPassword": "irure",
                "activationCode": 68403530.45564952,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 64304147,
                  "id": "est proident commodo laboris voluptate",
                  "expiration": 38996275,
                  "isBusiness": true
                },
                "push": {
                  "deviceType": "ANDROID_TEST",
                  "deviceToken": "tempor Excepteur dolore voluptate ullamco"
                },
                "pushDestination": {
                  "deviceType": "ANDROID",
                  "deviceToken": "cillum nostrud"
                },
                "premium": {
                  "active": {
                    "id": "in Except",
                    "domain": "in aliqua"
                  }
                },
                "notify": false,
                "calendarAccounts": [
                  {
                    "id": 313976.26951617,
                    "accountType": "sunt ",
                    "displayName": "cillum occaecat labore Duis non",
                    "calendars": [
                      {
                        "id": "sint",
                        "name": "la",
                        "primary": true,
                        "writable": true
                      },
                      {
                        "id": "Excepteur officia",
                        "name": "eiusmod",
                        "primary": true,
                        "writable": false
                      }
                    ]
                  }
                ],
                "enabledCalendars": [
                  "ad",
                  "Ut cillum",
                  "adipisicing"
                ],
                "targetCalendarId": "laborum dolor tempor",
                "syncTentatives": false,
                "hasCustomizedBranding": true,
                "hasActiveMeetMePage": true,
                "hasAddressBookConnected": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          }
        }
      }
    },
    "/users/activate": {
      "post": {
        "operationId": "POST_users-activate",
        "summary": "Activate account/user",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/user",
              "example": {
                "id": "userID",
                "email": "mail@provider.com",
                "activationcode": "aasdaewqwe"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          }
        }
      }
    },
    "/users/resend-activation": {
      "post": {
        "operationId": "POST_users-resend-activation",
        "summary": "Resend activation",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "newEmail",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/user",
              "example": {
                "email": "mail@mail.com",
                "password": "secretPwd"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "email": "mail@mail.com",
                "name": "username"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          }
        }
      }
    },
    "/users/send-calendar-account-unavailable-email": {
      "post": {
        "operationId": "POST_users-send-calendar-account-unavailable-email",
        "summary": "Send calendar acc unavailable email",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "calendarAccountProvider": {
                  "type": "string"
                },
                "calendarAccountTitle": {
                  "type": "string"
                }
              },
              "required": [
                "userId",
                "calendarAccountProvider",
                "calendarAccountTitle"
              ]
            }
          },
          {
            "name": "client_secret",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          }
        }
      }
    },
    "/users/me/reset-push-counter": {
      "post": {
        "operationId": "POST_users-me-reset-push-counter",
        "summary": "Reset push notification counter",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "calendarAccountProvider": {
                  "type": "string"
                },
                "calendarAccountTitle": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me": {
      "put": {
        "operationId": "PUT_users-me",
        "summary": "Update user",
        "tags": [
          "Users"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/user",
              "example": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "get": {
        "operationId": "GET_users-me",
        "summary": "My details",
        "tags": [
          "Users"
        ],
        "description": "Get a logged-in user",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/delete": {
      "delete": {
        "operationId": "DELETE_users-me-delete",
        "summary": "My user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "type": "string"
                }
              },
              "example": {
                "password": "usersecreet"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/avatar": {
      "delete": {
        "operationId": "DELETE_users-me-avatar",
        "summary": "My avatar",
        "tags": [
          "Users"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "post": {
        "operationId": "POST_users-me-avatar",
        "summary": "My avatar",
        "tags": [
          "Users"
        ],
        "consumes": [
          "application/octet-stream",
          "image/gif",
          "image/jpeg",
          "image/png"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/contacts": {
      "get": {
        "operationId": "GET_users-me-contacts",
        "summary": "My contacts",
        "tags": [
          "Users"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountNr",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "type": "number"
          },
          {
            "name": "hash",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/addressBookIncrement"
            },
            "examples": {
              "application/json": {
                "contacts": [
                  {
                    "groups": [
                      "group1",
                      "group2"
                    ],
                    "emails": [
                      "email1@at.com",
                      "email2@at.com"
                    ],
                    "name": "name1"
                  },
                  {
                    "groups": [
                      "group1"
                    ],
                    "emails": [
                      "mail@domain.com"
                    ],
                    "id": "generatedID"
                  }
                ],
                "timestamp": 123188212984,
                "hash": "longsecrethash",
                "moreAccounts": true,
                "moreContactsInAccount": true,
                "reinit": true
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/polls": {
      "get": {
        "operationId": "GET_users-me-polls",
        "summary": "My polls V2.0",
        "tags": [
          "Users"
        ],
        "description": "Load all my polls. This needs authentication as a logged in user. Note that internally it uses the v2.2 variant of the API!",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limited",
            "in": "query",
            "description": "The apps always set this to false",
            "type": "boolean"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "enum": [
              "initiated",
              "participated",
              "commented",
              "invited"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/poll"
            },
            "examples": {
              "application/json": {
                "id": "gae6v35wzd8drgxh",
                "adminKey": "4px57h8p",
                "latestChange": 1506596135110,
                "initiated": 1506410081646,
                "participantsCount": 3,
                "inviteesCount": 0,
                "type": "DATE",
                "preferencesType": "YESNO",
                "state": "OPEN",
                "locale": "en_CH",
                "title": "editprefstest1",
                "initiator": {
                  "name": "name",
                  "email": "name@doodle.com",
                  "notify": true,
                  "avatarLargeUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                  "avatarSmallUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                  "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                },
                "options": [
                  {
                    "start": 1506513600000,
                    "allday": true,
                    "date": 1506513600000,
                    "available": true
                  },
                  {
                    "start": 1506600000000,
                    "allday": true,
                    "date": 1506600000000,
                    "available": true
                  },
                  {
                    "start": 1506686400000,
                    "allday": true,
                    "date": 1506686400000,
                    "available": true
                  }
                ],
                "optionsHash": "148bbe863f76e9d3beb805f557355735",
                "participants": [
                  {
                    "id": 1871027174,
                    "name": "Martin Petrik",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1765143042,
                    "name": "participant 2",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1052720902,
                    "name": "participant 3",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  }
                ],
                "invitees": [],
                "amINotified": true,
                "device": "WEB",
                "premium": {
                  "id": "7364726284372324",
                  "domain": "mycompany"
                },
                "levels": "YESNO"
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/polls/": {
      "get": {
        "operationId": "GET_users-me-polls-v2.2",
        "summary": "My polls V2.2",
        "tags": [
          "Users"
        ],
        "description": "Get all polls of a specific user by sending an HTTP GET to /api/v2.0/users/me/polls with an Accept: xxx header.\n\nReturns the polls the user created and/or the ones he participated in.",
        "produces": [
          "application/v2.2+json"
        ],
        "parameters": [
          {
            "name": "limited",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "enum": [
              "initiated",
              "participated",
              "commented",
              "invited"
            ]
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/poll"
            },
            "examples": {
              "application/v2.2+json": {
                "id": "gae6v35wzd8drgxh",
                "adminKey": "4px57h8p",
                "latestChange": 1506596135110,
                "initiated": 1506410081646,
                "participantsCount": 3,
                "inviteesCount": 0,
                "type": "DATE",
                "preferencesType": "YESNO",
                "state": "OPEN",
                "locale": "en_CH",
                "title": "editprefstest1",
                "initiator": {
                  "name": "name",
                  "email": "name@doodle.com",
                  "notify": true,
                  "avatarLargeUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                  "avatarSmallUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                  "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                },
                "options": [
                  {
                    "start": 1506513600000,
                    "allday": true,
                    "date": 1506513600000,
                    "available": true
                  },
                  {
                    "start": 1506600000000,
                    "allday": true,
                    "date": 1506600000000,
                    "available": true
                  },
                  {
                    "start": 1506686400000,
                    "allday": true,
                    "date": 1506686400000,
                    "available": true
                  }
                ],
                "optionsHash": "148bbe863f76e9d3beb805f557355735",
                "participants": [
                  {
                    "id": 1871027174,
                    "name": "Martin Petrik",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1765143042,
                    "name": "participant 2",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1052720902,
                    "name": "participant 3",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  }
                ],
                "invitees": [],
                "amINotified": true,
                "device": "WEB",
                "premium": {
                  "id": "7364726284372324",
                  "domain": "mycompany"
                },
                "levels": "YESNO"
              }
            }
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/google-code-for-login": {
      "get": {
        "operationId": "GET_users-google-code-for-login",
        "summary": "Google code for login",
        "tags": [
          "Users"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/user"
            },
            "examples": {
              "application/json": {
                "name": "name",
                "email": "mail@doodle.com",
                "id": "genRandID",
                "accessToken": "accTokenSecret111111111111111111",
                "newsletterOptedIn": false,
                "avatarLargeUrl": "https://doodle.com/avatar.png",
                "avatarSmallUrl": "https://alba.name",
                "premiumEndDate": 1508067323200,
                "activePremium": {
                  "type": "FULL",
                  "durationInMonths": 1,
                  "id": "commodo amet",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "timeZone": "eiusmod dolor",
                "countryCode": "co",
                "language": "ma",
                "locale": "qui",
                "notificationChannels": [
                  "EMAIL",
                  "PUSH"
                ],
                "newEmail": "new@email.com",
                "activationCode": 60952716,
                "nextPremium": {
                  "type": "TRIAL",
                  "durationInMonths": 2,
                  "id": "esse",
                  "expiration": 1508067323200,
                  "isBusiness": false
                },
                "push": {
                  "deviceType": "IPHONE",
                  "deviceToken": "animadfut"
                },
                "pushDestination": {
                  "deviceType": "IPHONE_TEST",
                  "deviceToken": "Utasdfa"
                },
                "premium": {
                  "active": {
                    "id": "ullamco irure",
                    "domain": "domain"
                  }
                },
                "notify": true,
                "calendarAccounts": [
                  {
                    "id": 25500963
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "primary": true
                      },
                      {},
                      {
                        "primary": true
                      }
                    ],
                    "id": 88963501
                  },
                  {
                    "calendars": [
                      {},
                      {
                        "id": "in ut nisi laborum",
                        "primary": true
                      }
                    ],
                    "displayName": "in ex dolore"
                  },
                  {
                    "id": 56561239
                  },
                  {
                    "calendars": [
                      {}
                    ],
                    "displayName": "irure cillum ullamc"
                  }
                ],
                "enabledCalendars": [
                  "commodo quis dolore",
                  "do id in",
                  "Excepteur nisi cillum cupidatat"
                ],
                "targetCalendarId": "anim",
                "syncTentatives": true
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          }
        }
      }
    },
    "/users/facebook-code-for-login": {
      "get": {
        "operationId": "GET_users-facebook-code-for-login",
        "summary": "Facebook code for login",
        "tags": [
          "Users"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          },
          "401": {
            "$ref": "#/responses/trait:notAuthorized:401"
          }
        }
      }
    },
    "/users/me/tokens": {
      "delete": {
        "operationId": "DELETE_users-me-tokens",
        "summary": "Delete access token",
        "tags": [
          "Users"
        ],
        "description": "Deletes users access token",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "get": {
        "operationId": "GET_users-me-tokens",
        "summary": "Get access token",
        "tags": [
          "Users"
        ],
        "description": "Gets users access token",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "consumerType": {
                    "type": "string",
                    "description": "ios-app-2014/15 token - currently returns constant value \"officialIOsApp2014-15\""
                  },
                  "id": {
                    "type": "string",
                    "description": "Access token id"
                  }
                }
              }
            },
            "examples": {
              "application/json": [
                {
                  "consumertType": "irure proident minim magna"
                },
                {},
                {
                  "consumertType": "veniam",
                  "id": "dolore"
                }
              ]
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ],
              "description": ""
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/calendars/icsfeed": {
      "get": {
        "operationId": "GET_users-me-calendars-icsfeed",
        "summary": "Get calendar feed URL",
        "tags": [
          "calendars",
          "Users"
        ],
        "description": "Gets Doodle calendar ics feed URL",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "description": "ICS feed URL",
              "format": "uri"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "put": {
        "operationId": "PUT_users-me-calendars-icsfeed",
        "summary": "Reset calendar feed URL",
        "tags": [
          "calendars",
          "Users"
        ],
        "description": "Reset Doodle calendar feed URL",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "description": "ICS feed URL",
              "format": "uri"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "post": {
        "operationId": "POST_users-me-calendars-icsfeed",
        "summary": "Add calendar by ics URL",
        "tags": [
          "calendars",
          "Users"
        ],
        "description": "Adds a calendar feed by ics URL",
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "formData",
            "description": "New calendars URL of ics feed",
            "required": true,
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the action was successful"
                },
                "messages": {
                  "type": "object",
                  "description": "Represents error messages, most commonly validation errors"
                },
                "invalidValues": {
                  "type": "object",
                  "description": "Represent values that are causing the errors."
                },
                "errors": {
                  "type": "object",
                  "description": "Similar as messages, whilst instead of actual message, it contains the problem/cause of the error."
                }
              },
              "required": [
                "success",
                "messages",
                "invalidValues",
                "errors"
              ]
            },
            "examples": {
              "application/json": {
                "success": false,
                "messages": {
                  "URL": "Please enter a URL."
                },
                "invalidValues": {},
                "errors": {
                  "URL": "MISSING"
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/calendars/googleauthuri/{calendarsOrContacts}": {
      "parameters": [
        {
          "name": "calendarsOrContacts",
          "in": "path",
          "required": true,
          "type": "string",
          "enum": [
            "CALENDARS",
            "CONTACTS",
            "NewLogin"
          ]
        }
      ],
      "get": {
        "operationId": "GET_users-me-calendars-googleauthuri-calendarsOrContacts",
        "summary": "Get Google authentication URL",
        "tags": [
          "calendars",
          "google",
          "Users"
        ],
        "description": "Initializes the Google Authentication for the specified type (calendars|contacts) by sending back the URL of the Google's account chooser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "oauthUrl"
              ],
              "properties": {
                "oauthUrl": {
                  "type": "string",
                  "description": "Google authentication URL",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/users/me/calendars/outlookauthuri/{calendarsOrContacts}": {
      "parameters": [
        {
          "name": "calendarsOrContacts",
          "in": "path",
          "required": true,
          "type": "string",
          "enum": [
            "CALENDARS",
            "CONTACTS"
          ]
        }
      ],
      "get": {
        "operationId": "GET_users-me-calendars-outlookauthuri-calendarsOrContacts",
        "summary": "Get Outlook authentication URL",
        "tags": [
          "calendars",
          "outlook",
          "Users"
        ],
        "description": "Initializes the outlook.com Authentication for the specified type (calendars|contacts). Redirects to the outlook.com authorization URL.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "oauthURL": {
                  "type": "string",
                  "description": "Outlook authentication URL",
                  "format": "uri"
                }
              },
              "required": [
                "oauthURL"
              ]
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/polls/{pollId}": {
      "parameters": [
        {
          "name": "pollId",
          "in": "path",
          "description": "a poll ID",
          "required": true,
          "type": "string",
          "pattern": "^[a-z0-9]{16}"
        }
      ],
      "get": {
        "operationId": "get-poll",
        "summary": "Get poll",
        "tags": [
          "Polls"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "adminKey",
            "in": "query",
            "description": "In the URL query string. Required if you want the poll's comments' authors and texts, or if you want the poll's participants.",
            "type": "string",
            "minLength": 8,
            "maxLength": 8,
            "pattern": "^[a-z0-9]{8}"
          },
          {
            "name": "participantKey",
            "in": "query",
            "description": "In the URL query string. A participantKey is set for each invitee of a by-invitation-only poll. Using this parameter, you can retrieve the participant with the corresponding participantKey.",
            "type": "string",
            "pattern": "^[a-z0-9]{8}"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/poll"
            },
            "examples": {
              "application/json": {
                "id": "gae6v35wzd8drgxh",
                "adminKey": "4px57h8p",
                "latestChange": 1506596135110,
                "initiated": 1506410081646,
                "participantsCount": 3,
                "inviteesCount": 0,
                "type": "DATE",
                "preferencesType": "YESNO",
                "state": "OPEN",
                "locale": "en_CH",
                "title": "editprefstest1",
                "initiator": {
                  "name": "name",
                  "email": "name@doodle.com",
                  "notify": true,
                  "avatarLargeUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                  "avatarSmallUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                  "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                },
                "options": [
                  {
                    "start": 1506513600000,
                    "allday": true,
                    "date": 1506513600000,
                    "available": true
                  },
                  {
                    "start": 1506600000000,
                    "allday": true,
                    "date": 1506600000000,
                    "available": true
                  },
                  {
                    "start": 1506686400000,
                    "allday": true,
                    "date": 1506686400000,
                    "available": true
                  }
                ],
                "optionsHash": "148bbe863f76e9d3beb805f557355735",
                "participants": [
                  {
                    "id": 1871027174,
                    "name": "Martin Petrik",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1765143042,
                    "name": "participant 2",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1052720902,
                    "name": "participant 3",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  }
                ],
                "invitees": [],
                "amINotified": true,
                "device": "WEB",
                "premium": {
                  "id": "7364726284372324",
                  "domain": "mycompany"
                },
                "levels": "YESNO"
              }
            }
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          },
          "410": {
            "$ref": "#/responses/trait:gone:410"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "put": {
        "operationId": "PUT_polls-pollId",
        "summary": "Update poll",
        "tags": [
          "Polls"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/poll",
              "example": {
                "id": "gae6v35wzd8drgxh",
                "adminKey": "4px57h8p",
                "latestChange": 1506596135110,
                "initiated": 1506410081646,
                "participantsCount": 3,
                "inviteesCount": 0,
                "type": "DATE",
                "preferencesType": "YESNO",
                "state": "OPEN",
                "locale": "en_CH",
                "title": "editprefstest1",
                "initiator": {
                  "name": "name",
                  "email": "name@doodle.com",
                  "notify": true,
                  "avatarLargeUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                  "avatarSmallUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                  "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                },
                "options": [
                  {
                    "start": 1506513600000,
                    "allday": true,
                    "date": 1506513600000,
                    "available": true
                  },
                  {
                    "start": 1506600000000,
                    "allday": true,
                    "date": 1506600000000,
                    "available": true
                  },
                  {
                    "start": 1506686400000,
                    "allday": true,
                    "date": 1506686400000,
                    "available": true
                  }
                ],
                "optionsHash": "148bbe863f76e9d3beb805f557355735",
                "participants": [
                  {
                    "id": 1871027174,
                    "name": "Martin Petrik",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1765143042,
                    "name": "participant 2",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1052720902,
                    "name": "participant 3",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  }
                ],
                "invitees": [
                  {
                    "participantId": -95690513,
                    "emailAddress": "HlrFnEM4dF@RjBkd.hue",
                    "toBeRemoved": false,
                    "participantKey": "gk672soy",
                    "name": "in laboris tempor ea occaecat",
                    "phoneNumber": "nisi id"
                  },
                  {
                    "emailAddress": "4Ne9dsOKoTHL@aGX.cqnx",
                    "participantId": 10850383
                  },
                  {
                    "participantId": 65180210,
                    "phoneNumber": "nisi",
                    "emailAddress": "F6w6jkHsSqyJ@ViJEmPUUPLJdSDsPkcDAJB.wnzv",
                    "toBeRemoved": true,
                    "participantKey": "hmgyn1nl"
                  },
                  {
                    "participantId": 26984785,
                    "participantKey": "pa7pkwnq",
                    "emailAddress": "NK0@WHrNHdnDKijuWYuZPxZBQwBnGuruMpIB.dyk",
                    "phoneNumber": "labore aliqua aute",
                    "toBeRemoved": false,
                    "name": "nulla pariatur"
                  }
                ],
                "amINotified": true,
                "device": "WEB",
                "premium": {
                  "id": "7364726284372324",
                  "domain": "mycompany"
                },
                "levels": "YESNO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/poll"
            },
            "examples": {
              "application/json": {
                "id": "gae6v35wzd8drgxh",
                "adminKey": "4px57h8p",
                "latestChange": 1506596135110,
                "initiated": 1506410081646,
                "participantsCount": 3,
                "inviteesCount": 0,
                "type": "DATE",
                "preferencesType": "YESNO",
                "state": "OPEN",
                "locale": "en_CH",
                "title": "editprefstest1",
                "initiator": {
                  "name": "name",
                  "email": "name@doodle.com",
                  "notify": true,
                  "avatarLargeUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                  "avatarSmallUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                  "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                },
                "options": [
                  {
                    "start": 1506513600000,
                    "allday": true,
                    "date": 1506513600000,
                    "available": true
                  },
                  {
                    "start": 1506600000000,
                    "allday": true,
                    "date": 1506600000000,
                    "available": true
                  },
                  {
                    "start": 1506686400000,
                    "allday": true,
                    "date": 1506686400000,
                    "available": true
                  }
                ],
                "optionsHash": "148bbe863f76e9d3beb805f557355735",
                "participants": [
                  {
                    "id": 1871027174,
                    "name": "Martin Petrik",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1765143042,
                    "name": "participant 2",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1052720902,
                    "name": "participant 3",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  }
                ],
                "invitees": [
                  {
                    "participantId": -95690513,
                    "emailAddress": "HlrFnEM4dF@RjBkd.hue",
                    "toBeRemoved": false,
                    "participantKey": "gk672soy",
                    "name": "in laboris tempor ea occaecat",
                    "phoneNumber": "nisi id"
                  },
                  {
                    "emailAddress": "4Ne9dsOKoTHL@aGX.cqnx",
                    "participantId": 10850383
                  },
                  {
                    "participantId": 65180210,
                    "phoneNumber": "nisi",
                    "emailAddress": "F6w6jkHsSqyJ@ViJEmPUUPLJdSDsPkcDAJB.wnzv",
                    "toBeRemoved": true,
                    "participantKey": "hmgyn1nl"
                  },
                  {
                    "participantId": 26984785,
                    "participantKey": "pa7pkwnq",
                    "emailAddress": "NK0@WHrNHdnDKijuWYuZPxZBQwBnGuruMpIB.dyk",
                    "phoneNumber": "labore aliqua aute",
                    "toBeRemoved": false,
                    "name": "nulla pariatur"
                  }
                ],
                "amINotified": true,
                "device": "WEB",
                "premium": {
                  "id": "7364726284372324",
                  "domain": "mycompany"
                },
                "levels": "YESNO"
              }
            }
          },
          "400": {
            "$ref": "#/responses/trait:badRequest:400"
          },
          "403": {
            "$ref": "#/responses/trait:forbidden:403"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          },
          "409": {
            "$ref": "#/responses/trait:conflict:409"
          },
          "410": {
            "$ref": "#/responses/trait:gone:410"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      },
      "delete": {
        "operationId": "DELETE_polls-pollId",
        "summary": "Delete poll",
        "tags": [
          "Polls"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "adminKey",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": [
                "object",
                "string"
              ]
            }
          },
          "403": {
            "$ref": "#/responses/trait:forbidden:403"
          },
          "404": {
            "$ref": "#/responses/trait:notFound:404"
          },
          "410": {
            "$ref": "#/responses/trait:gone:410"
          },
          "503": {
            "$ref": "#/responses/trait:badGateway:503"
          }
        },
        "security": [
          {
            "Access-Token": []
          }
        ]
      }
    },
    "/polls": {
      "post": {
        "operationId": "create-poll",
        "summary": "Create poll",
        "tags": [
          "Polls"
        ],
        "description": "Create a new poll by sending an HTTP POST to /api/v2.0/polls with an Poll object in the payload",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "sendLinkEmail",
            "in": "query",
            "description": "Toggle the sending of the link email to the initiator of the poll. Optional.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/poll",
              "example": {
                "id": "gae6v35wzd8drgxh",
                "adminKey": "4px57h8p",
                "latestChange": 1506596135110,
                "initiated": 1506410081646,
                "participantsCount": 3,
                "inviteesCount": 0,
                "type": "DATE",
                "preferencesType": "YESNO",
                "state": "OPEN",
                "locale": "en_CH",
                "title": "editprefstest1",
                "initiator": {
                  "name": "name",
                  "email": "name@doodle.com",
                  "notify": true,
                  "avatarLargeUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                  "avatarSmallUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                  "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                },
                "options": [
                  {
                    "start": 1506513600000,
                    "allday": true,
                    "date": 1506513600000,
                    "available": true
                  },
                  {
                    "start": 1506600000000,
                    "allday": true,
                    "date": 1506600000000,
                    "available": true
                  },
                  {
                    "start": 1506686400000,
                    "allday": true,
                    "date": 1506686400000,
                    "available": true
                  }
                ],
                "optionsHash": "148bbe863f76e9d3beb805f557355735",
                "participants": [
                  {
                    "id": 1871027174,
                    "name": "Martin Petrik",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1765143042,
                    "name": "participant 2",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  },
                  {
                    "id": 1052720902,
                    "name": "participant 3",
                    "preferences": [
                      1,
                      1,
                      1
                    ],
                    "smallAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/pc2dpjmdkbv4lswm49jwz7g0h41ywy8k",
                    "largeAvatarUrl": "https://5a0131bfa95acff862b4-99aae8ea3c3a52057d88f08e6c7b007c.ssl.cf2.rackcdn.com/eralnfg5d54nfojk2kgyqjmolu1hj0vf",
                    "userId": "tfhxf4in8ejqmpfijt4jwfxsh3k4hju1"
                  }
                ],
                "invitees": [
                  {
                    "participantId": -95690513,
                    "emailAddress": "HlrFnEM4dF@RjBkd.hue",
                    "toBeRemoved": false,
                    "participantKey": "gk672soy",
                    "name": "in laboris tempor ea occaecat",
                    "phoneNumber": "nisi id"
                  },
                  {
                    "emailAddress": "4Ne9dsOKoTHL@aGX.cqnx",
                    "participantId": 10850383
                  },
                  {
                    "participantId": 65180210,
                    "phoneNumber": "nisi",
                    "emailAddress": "F6w6jkHsSqyJ@ViJEmPUUPLJdSDsPkcDAJB.wnzv",
                    "toBeRemoved": true,
                    "participantKey": "hmgyn1nl"
                  },
                  {
                    "participantId": 26984785,
                    "participantKey": "pa7pkwnq",
                    "emailAddress": "NK0@WHrNHdnDKijuWYuZPxZBQwBnGuruMpIB.dyk",
                    "phoneNumber": "labore aliqua aute",
                    "toBeRemoved": false,
                    "name": "nulla pariatur"
                  }
                ],
                "amINotified": true,
                "device": "WEB",
                "premium": {
                  "id": "7364726284372324",
                  "domain": "mycompany"
                },
                "levels": "YESNO"
              }
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "adminKey": {
                  "type": "string"
                },
                "latestChange": {
                  "type": "integer"
                },
                "initiated": {
                  "type": "integer"
                },
                "participantsCount": {
                  "type": "integer"
                },
                "inviteesCount": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                },
                "preferencesType": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "locale": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "initiator": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "notify": {
                      "type": "boolean"
                    }
                  }
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "integer"
                      },
                      "allday": {
                        "type": "boolean"
                      },
                      "date": {
                        "type": "integer"
                      },
                      "available": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "optionsHash": {
                  "type": "string"
                },
[...]
